In [1]:
import os
import pandas as pd
import numpy as np
#Pull NPS API data
import requests
import json
#Database connectivity
from sqlalchemy import create_engine

#Import api key and values for database connectivity
from config import (nps_api_key, user, password, host, port, database)

In [2]:
path_xlsx = os.getcwd()
files_xlsx = os.listdir(path_xlsx+"/data")

filepath_xlsx = [];
for f in files_xlsx:
    if f[-4:] == 'xlsx':
        filepath_xlsx.append(f'data/{f}');
                    
filepath_xlsx

['data/Current Year Monthly and Annual Summary Report (1979 - Present) (Apr).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Aug).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Dec).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Feb).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Jan).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Jul).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Jun).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Mar).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (May).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Nov).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Oct).xlsx',
 'data/Current Year Monthly and Annual Summary Report (1979 - Present) (Sep).xlsx']

In [3]:
nps_df = pd.DataFrame()
nps_df = nps_df.iloc[0:0]

In [4]:
for f in filepath_xlsx:
    nps_data = pd.read_excel(f, 'Current Year Monthly and Annual', header=11, skipfooter=6)
    if len(nps_df) == 0:
        nps_df = nps_df.append(nps_data)
    else:
        nps_df = nps_df.merge(nps_data, how="inner", on="Park")

In [5]:
clean_nps_df = nps_df[['Park'
                       ,'MAR 2021', 'MAR 2020'
                       ,'FEB 2021', 'FEB 2020'
                       ,'JAN 2021', 'JAN 2020'
                       ,'DEC 2020', 'DEC 2019'
                       ,'NOV 2020', 'NOV 2019'
                       ,'OCT 2020', 'OCT 2019'
                       ,'SEP 2020', 'SEP 2019'
                       ,'AUG 2020', 'AUG 2019'
                       ,'JUL 2020', 'JUL 2019'
                       ,'JUN 2020', 'JUN 2019'
                       ,'MAY 2020', 'MAY 2019'
                       ,'APR 2020', 'APR 2019']]

np_designations = clean_nps_df['Park'].str[-2:]
    
clean_nps_df.insert(1, "Designation", np_designations, True)

clean_nps_df.head()

,Park,Designation,MAR 2021,MAR 2020,FEB 2021,FEB 2020,JAN 2021,JAN 2020,DEC 2020,DEC 2019,...,AUG 2020,AUG 2019,JUL 2020,JUL 2019,JUN 2020,JUN 2019,MAY 2020,MAY 2019,APR 2020,APR 2019
0,Abraham Lincoln Birthplace NHP,HP,15362.0,12612.0,5192.0,7406.0,6320.0,6911.0,7472.0,6764.0,...,31290.0,34816.0,37249.0,37334.0,29111.0,26854.0,21102.0,24646.0,15092.0,16496.0
1,Acadia NP,NP,38060.0,28539.0,16123.0,13459.0,20268.0,12640.0,21260.0,12865.0,...,681746.0,759735.0,493971.0,756439.0,201156.0,490720.0,103120.0,226156.0,55713.0,68046.0
2,Adams NHP,HP,521.0,598.0,425.0,320.0,483.0,300.0,544.0,256.0,...,520.0,26011.0,460.0,75333.0,759.0,23963.0,743.0,13187.0,1127.0,537.0
3,African Burial Ground NM,NM,331.0,627.0,35.0,1994.0,198.0,4279.0,116.0,4279.0,...,0.0,4332.0,0.0,5520.0,0.0,4621.0,0.0,5482.0,0.0,5022.0
4,Agate Fossil Beds NM,NM,279.0,176.0,65.0,194.0,94.0,107.0,121.0,50.0,...,1686.0,2775.0,2377.0,4222.0,834.0,3276.0,310.0,2188.0,129.0,391.0

In [6]:
index_to_drop = clean_nps_df[ clean_nps_df["Designation"] != "NP"].index

np_df = clean_nps_df.drop(index_to_drop)

sorted_np_df = np_df.sort_values(["MAR 2021"], ascending=False)

sorted_np_df.reset_index(inplace=True)

sorted_np_df["visit_rank"] = np.arange(len(sorted_np_df))+1

clean_np_df = sorted_np_df.drop(["index", "Designation"], axis=1)

clean_np_df.head()

,Park,MAR 2021,MAR 2020,FEB 2021,FEB 2020,JAN 2021,JAN 2020,DEC 2020,DEC 2019,NOV 2020,...,AUG 2019,JUL 2020,JUL 2019,JUN 2020,JUN 2019,MAY 2020,MAY 2019,APR 2020,APR 2019,visit_rank
0,Great Smoky Mountains NP,931060.0,487535.0,502459.0,426839.0,525801.0,438509.0,777584.0,720631.0,1091098.0,...,1411231.0,1726187.0,1613133.0,1535660.0,1469857.0,828792.0,1096056.0,99371.0,999259.0,1
1,Zion NP,429455.0,207400.0,160232.0,133718.0,172747.0,126994.0,227244.0,171706.0,319853.0,...,535322.0,449518.0,629802.0,377425.0,594896.0,178194.0,529553.0,40396.0,372349.0,2
2,Joshua Tree NP,375049.0,226600.0,285687.0,298294.0,229995.0,268187.0,268640.0,303476.0,360238.0,...,120911.0,147037.0,138967.0,184139.0,187551.0,89831.0,250928.0,0.0,374789.0,3
3,Grand Canyon NP,320277.0,276002.0,163115.0,252897.0,166122.0,246460.0,245830.0,324380.0,275764.0,...,700896.0,350003.0,756860.0,232267.0,643821.0,43397.0,618598.0,0.0,562265.0,4
4,Saguaro NP,200968.0,98901.0,177726.0,146224.0,186428.0,124069.0,163339.0,96235.0,52377.0,...,51309.0,25649.0,48553.0,20362.0,49481.0,22300.0,75838.0,22820.0,117802.0,5

In [7]:
#Rename columns
clean_np_df.rename(columns={'Park': 'name'
                            ,'MAR 2021' : 'mar2021'
                            , 'MAR 2020': 'mar2020'
                            ,'FEB 2021': 'feb2021'
                            , 'FEB 2020': 'feb2020'
                            ,'JAN 2021': 'jan2021'
                            , 'JAN 2020': 'jan2020'
                            ,'DEC 2020': 'dec2020'
                            , 'DEC 2019': 'dec2019'
                            ,'NOV 2020': 'nov2020'
                            , 'NOV 2019': 'nov2019'
                            ,'OCT 2020': 'oct2020'
                            , 'OCT 2019': 'oct2019'
                            ,'SEP 2020': 'sep2020'
                            , 'SEP 2019': 'sep2019'
                            ,'AUG 2020': 'aug2020'
                            , 'AUG 2019': 'aug2019'
                            ,'JUL 2020': 'jul2020'
                            , 'JUL 2019': 'jul2019'
                            ,'JUN 2020': 'jun2020'
                            , 'JUN 2019': 'jun2019'
                            ,'MAY 2020': 'may2020'
                            , 'MAY 2019': 'may2019'
                            ,'APR 2020': 'apr2020'
                            , 'APR 2019': 'apr2019'                           
                           }, inplace=True)

clean_np_df.head()

,name,mar2021,mar2020,feb2021,feb2020,jan2021,jan2020,dec2020,dec2019,nov2020,...,aug2019,jul2020,jul2019,jun2020,jun2019,may2020,may2019,apr2020,apr2019,visit_rank
0,Great Smoky Mountains NP,931060.0,487535.0,502459.0,426839.0,525801.0,438509.0,777584.0,720631.0,1091098.0,...,1411231.0,1726187.0,1613133.0,1535660.0,1469857.0,828792.0,1096056.0,99371.0,999259.0,1
1,Zion NP,429455.0,207400.0,160232.0,133718.0,172747.0,126994.0,227244.0,171706.0,319853.0,...,535322.0,449518.0,629802.0,377425.0,594896.0,178194.0,529553.0,40396.0,372349.0,2
2,Joshua Tree NP,375049.0,226600.0,285687.0,298294.0,229995.0,268187.0,268640.0,303476.0,360238.0,...,120911.0,147037.0,138967.0,184139.0,187551.0,89831.0,250928.0,0.0,374789.0,3
3,Grand Canyon NP,320277.0,276002.0,163115.0,252897.0,166122.0,246460.0,245830.0,324380.0,275764.0,...,700896.0,350003.0,756860.0,232267.0,643821.0,43397.0,618598.0,0.0,562265.0,4
4,Saguaro NP,200968.0,98901.0,177726.0,146224.0,186428.0,124069.0,163339.0,96235.0,52377.0,...,51309.0,25649.0,48553.0,20362.0,49481.0,22300.0,75838.0,22820.0,117802.0,5

In [8]:
nps_url = f"https://developer.nps.gov/api/v1/parks?limit=500&api_key={nps_api_key}"

nps_url

'https://developer.nps.gov/api/v1/parks?limit=500&api_key=yY2lhkKaW1Sq0mBMXP34xubhI9gndEP31UqIPyEf'

In [9]:
response = requests.get(nps_url)
json_response = response.json()

parks = json_response["data"]

In [10]:
names = []
lats = []
longs = []
urls = []
descriptions = []


for park in parks:
    if (park["designation"] == "National Park" or park["designation"] == "National Parks" or park["designation"] == "National and State Parks"):
        park_name = park["name"]
        names.append(f'{park_name} NP')
        lats.append(park["latitude"])
        longs.append(park["longitude"])
        urls.append(park["url"])
        descriptions.append(park["description"])

In [11]:
# create dataframe
np_details_df = pd.DataFrame({
    "name": names,
    "description": descriptions,
    "latitude": lats,
    "longitude": longs,
    "url": urls
})

np_details_df.head()

,name,description,latitude,longitude,url
0,Acadia NP,Acadia National Park protects the natural beau...,44.409286,-68.247501,https://www.nps.gov/acad/index.htm
1,Arches NP,Visit Arches to discover a landscape of contra...,38.72261844,-109.5863666,https://www.nps.gov/arch/index.htm
2,Badlands NP,The rugged beauty of the Badlands draws visito...,43.68584846,-102.482942,https://www.nps.gov/badl/index.htm
3,Big Bend NP,There is a place in Far West Texas where night...,29.29817767,-103.2297897,https://www.nps.gov/bibe/index.htm
4,Biscayne NP,"Within sight of downtown Miami, yet worlds awa...",25.490587,-80.21023851,https://www.nps.gov/bisc/index.htm

In [12]:
final_nps_df = np_details_df.merge(clean_np_df, how="inner", on="name")

final_nps_df.columns

Index(['name', 'description', 'latitude', 'longitude', 'url', 'mar2021',
       'mar2020', 'feb2021', 'feb2020', 'jan2021', 'jan2020', 'dec2020',
       'dec2019', 'nov2020', 'nov2019', 'oct2020', 'oct2019', 'sep2020',
       'sep2019', 'aug2020', 'aug2019', 'jul2020', 'jul2019', 'jun2020',
       'jun2019', 'may2020', 'may2019', 'apr2020', 'apr2019', 'visit_rank'],
      dtype='object')

In [13]:
#Load Database
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [14]:
engine.table_names()

['park_detail', 'park_visits', 'parks']

In [15]:
engine.execute("delete from parks")

In [16]:
#Load parks table
final_nps_df.to_sql(name="parks", con=engine, if_exists='append', index=False)

In [17]:
#Confirm data was loaded into parks table
pd.read_sql_query('select * from parks', con=engine)

,parks_id,name,description,latitude,longitude,url,mar2021,mar2020,feb2021,feb2020,...,aug2019,jul2020,jul2019,jun2020,jun2019,may2020,may2019,apr2020,apr2019,visit_rank
0,50,Acadia NP,Acadia National Park protects the natural beau...,44.409286,-68.247501,https://www.nps.gov/acad/index.htm,38060,28539,16123,13459,...,759735,493971,756439,201156,490720,103120,226156,55713,68046,27
1,51,Arches NP,Visit Arches to discover a landscape of contra...,38.722618,-109.586367,https://www.nps.gov/arch/index.htm,81623,81623,53986,42416,...,184890,193824,208993,163699,225206,13832,217474,0,168788,19
2,52,Badlands NP,The rugged beauty of the Badlands draws visito...,43.685848,-102.482942,https://www.nps.gov/badl/index.htm,28182,17183,11350,9979,...,207743,238875,250898,167784,201516,55637,71885,17290,25083,34
3,53,Big Bend NP,There is a place in Far West Texas where night...,29.298178,-103.229790,https://www.nps.gov/bibe/index.htm,89915,61413,43889,50584,...,17238,0,21747,26735,21228,0,37411,0,49312,17
4,54,Biscayne NP,"Within sight of downtown Miami, yet worlds awa...",25.490587,-80.210239,https://www.nps.gov/bisc/index.htm,22662,11052,19596,91655,...,46191,28770,60239,32646,65173,43692,79779,2358,64172,36
5,55,Bryce Canyon NP,Hoodoos (irregular columns of rock) exist on e...,37.583991,-112.182669,https://www.nps.gov/brca/index.htm,96800,45132,35653,38890,...,383458,227563,401970,195463,398290,69579,327975,3223,207061,15
6,56,Canyonlands NP,Canyonlands invites you to explore a wildernes...,38.245558,-109.880162,https://www.nps.gov/cany/index.htm,87001,14490,20164,12120,...,69297,70480,64672,63685,92295,6304,114464,0,89861,18
7,57,Capitol Reef NP,Located in south-central Utah in the heart of ...,38.282165,-111.247048,https://www.nps.gov/care/index.htm,115728,45804,25718,20579,...,127341,123274,129372,158421,151410,90903,196840,13014,147156,13
8,58,Carlsbad Caverns NP,"High ancient sea ledges, deep rocky canyons, f...",32.140895,-104.552969,https://www.nps.gov/cave/index.htm,30749,28925,13270,20860,...,36354,18855,69444,10124,57111,1338,41516,1138,37543,32
9,59,Channel Islands NP,Channel Islands National Park encompasses five...,33.986801,-119.911273,https://www.nps.gov/chis/index.htm,5611,13408,5815,20318,...,49793,15323,47581,13740,44915,2514,39070,365,39218,47
10,60,Congaree NP,Astonishing biodiversity exists in Congaree Na...,33.791875,-80.748678,https://www.nps.gov/cong/index.htm,22219,10790,14064,10220,...,11028,12127,10936,4278,13282,140,28786,0,15408,37
11,61,Crater Lake NP,Crater Lake inspires awe. Native Americans wit...,42.940659,-122.133841,https://www.nps.gov/crla/index.htm,15312,5304,7803,3351,...,163472,209678,201191,59731,103442,814,44808,686,15898,43
12,62,Cuyahoga Valley NP,Though a short distance from the urban areas o...,41.260939,-81.571167,https://www.nps.gov/cuva/index.htm,191063,191063,76877,76877,...,285616,345278,284928,324285,284079,271067,225949,239572,177318,6
13,63,Death Valley NP,"In this below-sea-level basin, steady drought ...",36.487537,-117.134395,https://www.nps.gov/deva/index.htm,167505,112464,107373,127628,...,165632,42566,142487,29404,122013,19994,155378,18361,177696,7
14,64,Dry Tortugas NP,Almost 70 miles (113 km) west of Key West lies...,24.628741,-82.873190,https://www.nps.gov/drto/index.htm,24,3674,675,5972,...,6658,3928,7692,4389,8041,308,8124,200,7720,52
15,65,Everglades NP,Everglades National Park protects an unparalle...,25.372942,-80.882003,https://www.nps.gov/ever/index.htm,30521,99917,46401,165994,...,80177,43509,63394,69851,68267,24446,77435,4784,131278,33
16,66,Gateway Arch NP,The Gateway Arch reflects St. Louis' role in t...,38.625807,-90.189251,https://www.nps.gov/jeff/index.htm,65025,54112,21258,62958,...,208999,33748,583866,50905,296149,31000,165964,30000,138309,23
17,67,Glacier NP,Come and experience Glacier's pristine forests...,48.684147,-113.800931,https://www.nps.gov/glac/index.htm,30876,24377,17138,18020,...,771874,453977,879711,202701,544088,0,167403,0,35491,31
18,68,Grand Canyon NP,"Located in Arizona, Grand Canyon National Park...",36.000117,-112.121516,https://www.nps.gov/grca/index.htm,320277,276002,163115,252897,...,700896,350003,756860,232267,643821,43397,618598,0,562265,4
19,69,Grand Teton NP,Rising above a scene rich with extraordinary w...,43.818536,-110.705467,https://www.nps.gov/grte/index.htm,74754,51455,53108,55197,...,702022,755766,775788,468201,625441,123756,278529,0,59105,22
20,70,Great Basin NP,"From the 13,063-foot summit of Wheeler Peak, t...",38.946174,-114.257978,https://www.nps.gov/grba/index.htm,2596,2693,1236,2244,...,24674,23032,23290,16222,23246,4587,11516,816,6100,48
21,71,Great Smoky Mountains NP,Ridge upon ridge of forest straddles the borde...,35.601164,-83.508183,https://www.nps.gov/grsm/index.htm,931060,487535,502459,426839,...,1411231,1726187,1613133,1535660,1469857,828792,1096056,99371,999259,1
22,72,Guadalupe Mountains NP,"Come experience mountains and canyons, desert ...",31.923045,-104.885527,https://www.nps.gov/gumo/index.htm,31321,19505,12590,14716,...,10532,8285,13540,1588,14376,0,25204,2321,20970,30
23,73,Hot Springs NP,Hot Springs National Park has a rich cultural ...,34.524144,-93.063329,https://www.nps.gov/hosp/index.htm,128516,128723,75786,51743,...,181982,158359,139005,146727,149049,45894,136514,133256,113397,11
24,74,Indiana Dunes NP,Indiana Dunes National Park hugs 15 miles of t...,41.637655,-87.096474,https://www.nps.gov/indu/index.htm,93273,93273,87813,87813,...,290469,427408,449968,341505,302203,154428,142403,91272,107862,16
25,75,Isle Royale NP,"Explore a rugged, isolated island, far from th...",48.011458,-88.827807,https://www.nps.gov/isro/index.htm,0,41,0,49,...,8798,2160,7714,240,4837,0,1055,0,61,54
26,76,Joshua Tree NP,"Two distinct desert ecosystems, the Mojave and...",33.914185,-115.839812,https://www.nps.gov/jotr/index.htm,375049,226600,285687,298294,...,120911,147037,138967,184139,187551,89831,250928,0,374789,3
27,77,Kenai Fjords NP,At the edge of the Kenai Peninsula lies a land...,59.818044,-150.106502,https://www.nps.gov/kefj/index.htm,72,72,34,58,...,78129,31809,120632,21121,91280,4161,28944,2,21,51
28,78,Kobuk Valley NP,"Caribou, sand dunes, the Kobuk River, Onion Po...",67.356313,-159.200229,https://www.nps.gov/kova/index.htm,764,267,695,733,...,1770,612,1750,490,1398,272,778,282,808,50
29,79,Lassen Volcanic NP,Lassen Volcanic National Park is home to steam...,40.493546,-121.407599,https://www.nps.gov/lavo/index.htm,8847,6933,8616,11655,...,98109,135668,105535,83355,63803,3108,25170,0,12477,45
30,80,Mammoth Cave NP,"Rolling hills, deep river valleys, and the wor...",37.197605,-86.130902,https://www.nps.gov/maca/index.htm,36661,25860,11482,9992,...,72400,40736,102436,32448,76995,12208,53461,8441,55210,28
31,81,Mesa Verde NP,This wild landscape of deep canyons and expans...,37.239083,-108.462403,https://www.nps.gov/meve/index.htm,15533,10193,6331,7422,...,87133,49824,113166,48110,108231,3029,60665,0,32428,42
32,82,Mount Rainier NP,"Ascending to 14,410 feet above sea level, Moun...",46.860754,-121.704388,https://www.nps.gov/mora/index.htm,27045,29088,12078,6783,...,378305,280106,365200,105540,219641,4900,106136,98,29632,35
33,83,North Cascades NP,"Less than three hours from Seattle, an alpine ...",48.711718,-121.206942,https://www.nps.gov/noca/index.htm,23,19,288,2,...,12576,6260,10656,1548,4520,0,1241,0,44,53
34,84,Olympic NP,With its incredible range of precipitation and...,47.803928,-123.666385,https://www.nps.gov/olym/index.htm,116314,116314,75915,76248,...,737996,510073,517058,186034,499728,66013,307426,40297,159983,12
35,85,Petrified Forest NP,"Park Hours: 8am to 5pm, MST Did you know that ...",34.983877,-109.787768,https://www.nps.gov/pefo/index.htm,58099,45816,22807,29078,...,62276,46925,90546,40780,95451,900,72802,0,56567,24
36,86,Pinnacles NP,Some 23 million years ago multiple volcanoes e...,36.490292,-121.181361,https://www.nps.gov/pinn/index.htm,45093,18537,31316,22021,...,16795,10508,13016,10364,19061,4640,19398,1635,16234,26
37,87,Redwood NP,Most people know Redwood as home to the talles...,41.372373,-124.031813,https://www.nps.gov/redw/index.htm,18889,9079,12189,21201,...,55227,39126,69750,29408,76137,25258,62796,5212,33179,39
38,88,Rocky Mountain NP,Rocky Mountain National Parkâ€™s 415 square mile...,40.355692,-105.697288,https://www.nps.gov/romo/index.htm,155819,97690,133771,110667,...,830039,723478,973992,491355,698224,63051,280351,0,160259,9
39,89,Saguaro NP,"Tucson, Arizona is home to the nation's larges...",32.209096,-110.757497,https://www.nps.gov/sagu/index.htm,200968,98901,177726,146224,...,51309,25649,48553,20362,49481,22300,75838,22820,117802,5
40,90,Shenandoah NP,"Just 75 miles from the bustle of Washington, D...",38.492366,-78.469077,https://www.nps.gov/shen/index.htm,133333,133333,9362,35473,...,195579,244677,167335,180311,170492,46903,150297,11514,102672,10
41,91,Theodore Roosevelt NP,When Theodore Roosevelt came to Dakota Territo...,47.177773,-103.430008,https://www.nps.gov/thro/index.htm,15125,12204,5162,4190,...,135584,124698,149425,106279,134590,19618,75682,3278,10516,44
42,92,Virgin Islands NP,Virgin Islands National Park is more than just...,18.342797,-64.741945,https://www.nps.gov/viis/index.htm,19562,16256,19680,34404,...,18599,13639,8191,3645,10047,0,10437,10552,13680,38
43,93,Voyageurs NP,Voyageurs is a maze of interconnected water hi...,48.483706,-92.838291,https://www.nps.gov/voya/index.htm,1558,2149,7887,5316,...,50586,62161,52031,53895,47387,29681,28198,0,213,49
44,94,White Sands NP,Rising from the heart of the Tularosa Basin is...,32.779079,-106.333346,https://www.nps.gov/whsa/index.htm,98118,48402,35766,41823,...,48510,43251,66363,1449,62127,0,64344,0,62811,14
45,95,Wind Cave NP,"Bison, elk, and other wildlife roam the rollin...",43.580124,-103.439471,https://www.nps.gov/wica/index.htm,16430,13942,10836,11687,...,92237,89098,146531,55498,125106,36878,48780,29214,54922,41
46,96,Yellowstone NP,"On March 1, 1872, Yellowstone became the first...",44.598244,-110.547169,https://www.nps.gov/yell/index.htm,35611,32516,36897,41880,...,820006,955645,936062,573205,781853,46219,434385,0,48150,29
47,97,Yosemite NP,"Not just a great valley, but a shrine to human...",37.848833,-119.557187,https://www.nps.gov/yose/index.htm,159408,92324,128222,167778,...,703153,501068,717462,236534,496625,0,393004,0,297207,8
48,98,Zion NP,Follow the paths where ancient native people a...,37.298393,-113.026514,https://www.nps.gov/zion/index.htm,429455,207400,160232,133718,...,535322,449518,629802,377425,594896,178194,529553,40396,372349,2